   footer {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 0;
    color: #6c757d;
    font-size: 12px;
    h4 {
      margin-bottom: 20px;
      font-weight: bold;
      color: #252627;
    }

    p {
      margin-top: 10px;
    }
    ul {
      list-style: none;
      padding-left: 0;
      
      li {
        margin-bottom: 10px;
      }
    }
  }

  .socail-media {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 7px;
    list-style: none;
  }
  
  .socail-media li a {
    width: 25px;
    height: 25px;
    background-color: #e5097f;
    display: flex;
    overflow: hidden;
    margin: -10px;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
    z-index: 9;
    border: 1px solid #e5097f;
  }
  
  .socail-media li a svg {
    width: 12px;
    height: 12px;
    -o-object-fit: contain;
    object-fit: contain;
    filter: invert(100%) sepia(0%) saturate(7455%) hue-rotate(57deg) brightness(108%) contrast(105%);
  }
  
  .socail-media li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
    clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
    background-color: #fff;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .socail-media li a:hover::after {
    animation: sideClip 0.5s linear;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    opacity: 1;
  }
  
  .socail-media li a:hover svg {
    animation: fadeInLeft 0.3s linear both;
    filter: invert(52%) sepia(85%) saturate(2286%) hue-rotate(54deg) brightness(92%) contrast(84%);
  }
  
  @keyframes sideClip {
    0% {
      clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
    }
  
    50% {
      clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
    }
  
    100% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
  
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  


   