.fondo {
  background-color: #f2f2f2;
}

/*Titulos index*/
.ofertas-ver-todas {
  display: flex;   
  justify-content: baseline;
  margin: 20px;
  h2 {
    @include estilo-italic($color-rosa)
  }
  h5 {
    @include estilo-italic($color-gris)
  }
  
}

.vistas-historial {
  display: flex;    
  @include estilo-italic($color-rosa);
  justify-content:first baseline;
  margin: 20px;
}

  h2 {
    margin-right: 20px;
    margin-left: 40px;
  }
    
  h5 {
    margin-left: 10px;
    margin-top: 10px;
    color: $color-gris;
    
  }
  
    /*formularios*/
   .form-control {    
    width: 250px; 
    box-sizing: border-box; 
    border-color:$color-gris; 
    border-width: 1px;    
    margin: 0 auto; 
    border-style: solid;  
   }
   
   .maps {
    width: 150px; 
    height: 150px; 
   }
   
   .formulario {    
    text-align: center; 
    color:$color-gris; 
    height: 50vh; 
    margin-top: 30px; 
   }

   /*carrusel de cards*/   
   .carousel-card {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
    justify-content: center;
  }
  
  .card {
    flex-basis: calc(100% / 5);
  }
  

  .card:hover {
    transform: scale(1.05);
  }
  
  .card {
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  
    .card-body {
      background-color: ffffff; 
      border-radius: 20px;
      border: 1px solid black;
      text-align: center;
  
      h3 { 
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        @include estilo-italic($color-rosa);
      }
  
      p {
        font-size: 1rem;
        margin-bottom: 0.5rem;
        @include estilo-italic($color-gris)
      }
  
      strong {
        font-size: 1.50rem;
        @include estilo-italic($color-rosa);
      }
    }
  }

  /*banner publicitario*/  
  .container {
    width: 90%;
    margin: 0 auto;
  }
  
  .banner {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
    p {
      @include estilo-italic($color-gris)
    }
  }

  .banner {
    border: {
      top: 1px solid black;
      right: 1px solid black;
      bottom: 1px solid black;
      left: 1px solid black;
    }
    border-radius: 20px;
  }
  

  .imagen-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .imagen-banner img {
    max-width: 100%;
    height: auto;
    margin: 20px;
  }

  .navbar-nav {
    text-align:end;
   }

  
  
   
 
  
  

  
  
  
   
   
   
  

