header {
  background-color: $color-amarillo;
  @include estilo-italic($color-gris);
  display: flex;
  justify-content: space-between;
  align-items:center;

  .buscador {
    width: 200px;
    border-radius: 10px;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
  }
   
  .boton-search {
    background-color: $color-rosa;

    &:hover {
      border: 1px solid $color-rosa;
    }
  }
}  

a {
  text-decoration: none;
  color: $color-rosa;
}

ul li {
  display: inline-block;
  margin: 10px;
}

.dropdown-menu {
margin: 1px;
}






 





