  

  @media screen and (min-width: 280px) and (max-width: 576px) {
    .card {
      flex-basis: calc(100% / 2);
    }
  }

  @media screen and (min-width: 576px) and (max-width: 767px) {
    .card {
      flex-basis: calc(100% / 3);
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .card {
      flex-basis: calc(100% / 4);
    }
  }
  
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .card {
      flex-basis: calc(100% / 5);
    }
  }
  
  @media screen and (min-width: 1200px) and (max-width: 1399px) {
    .card {
      flex-basis: calc(100% / 6);
    }
  }
  
  @media screen and (min-width:1400px) {
      .card {
          flex-basis: calc(100% /7);
      }
  }

  