@mixin estilo-italic($color) {
    font-style: italic;
    color: $color;
  }

 /*estilizo html Contacto*/
  .contacto-comentario {
    flex-wrap: wrap;
    text-align: center; 
    @include estilo-italic($color-rosa);
    margin-top: 30px; 
   }
   
   .form-label {
    @include estilo-italic($color-gris); 
   }

  .boton {
    @include estilo-italic($color-gris); 
    background-color:$color-rosa;
   
    &:hover {
      border:1px solid $color-rosa;        
    }
   }
   /*estilizo Html Ofertas*/
   .ofertas {
    display:flex;    
    @include estilo-italic($color-rosa); 
    margin: 30px;    
    margin-left: 40px;        
   }     

   .productos {
    @include estilo-italic($color-rosa); 
    margin: 30px;
     
   }
   
   .celular {
    @include estilo-italic($color-rosa); 
    margin: 30px; 
   }
   
   .tienda {
    flex-wrap: wrap;
    text-align: center; 
    @include estilo-italic($color-rosa); 
    margin-top: 30px; 
   }
   /*estilizo menú desplegable categorias*/
   @mixin estilo-menu($font-style, $color) {
    font-style: $fuente-principal;
    color: $color
   }
   
   .btn btn dropdown-toggle {
    @include estilo-menu($fuente-principal, $color-gris)
   }

   .dropdown-item {
    @include estilo-menu($fuente-principal, $color-rosa)
   }

   .card {
    @include estilo-menu($fuente-principal, $color-gris)
   }

   
   
   

   
  